.about-container {
  width: 100%;
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  border-radius: 15px;
  cursor: pointer;

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  transition: transform 0.3s;
}
@keyframes appear {
  from{
    opacity: 0;
    scale: 0.4;
  }
  
  to{
    opacity: 1;
    scale: 1;
  }
}


.card {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

/* IMAGE SECTION */
.img-box {
  position: relative;
  width: 40%;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  aspect-ratio: 3/4;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.4s;
}

/* OVERLAY */
.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 47, 47, 0.75);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.4s ease;
  text-align: center;
  padding: 20px;
}

.img-overlay h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.img-overlay p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.info-about-overlay {
  margin-bottom: 15px;
  background: rgba(165, 165, 165, 0.319);
  padding: 10px 10px 5px;
  width: 100%;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
/* SHOW ONLY WHEN IMAGE IS HOVERED */
.img-box:hover .img-overlay {
  opacity: 1;
}

.img-box:hover img {
  transform: scale(1.1);
}

/* ICONS */
.icons {
  margin-top: 15px;
}

.icons a {
  color: #142d4c;
  background-color: #9fd3c7;
  padding: 10px 15px 10px;
  border-radius: 10px;
  margin: 0 8px;
  font-size: 18px;
  transition: 0.3s;
}

.icons a:hover {
  background: #9fd3c7;
  color: #0090fe;
  transform: scale(1.2);
}

/* CONTENT SECTION */
.content {
  width: 60%;
  padding: 30px;
}

.content h4 {
  color: #764ba2;
  margin-bottom: 15px;
}

.content p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.6;
}

button {
  padding: 10px 20px;
  border: none;
  background: #667eea;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #764ba2;
}
