.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 600px;
  background: hsl(0%, 0%, 100%, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  border: 3px solid rgba(255, 255, 255, 0.447);
  box-shadow: inset 0 0 8px 1px hsl(0%, 0%, 100%, 0.2);
  z-index: 100;
}

.bottom-nav a {
  text-decoration: none;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:
    color 0.3s,
    transform 0.2s;
}

.bottom-nav a:hover {
  transform: translateY(-3px);
}

.bottom-nav i {
  font-size: 22px;
  margin-bottom: 4px;
}


.get-started-btn {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.get-started-btn .icon {
  background: rgba(255, 255, 255, 0.77);
  backdrop-filter: blur(5px);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.get-started-btn:hover .icon {
  width: calc(100% - 0.6em);
}

.get-started-btn .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.get-started-btn:hover .icon svg {
  transform: translateX(0.1em);
}

.get-started-btn:active .icon {
  transform: scale(0.95);
}



/* From Uiverse.io by barisdogansutcu */ 
button {
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  background-color: rgba(255, 255, 255, 0.642);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  backdrop-filter: blur(5px);
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
