* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

#about-section {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
h2 {
  align-items: center;
  text-align: center;
  padding: 10px 0px 10px;
  margin: 20px;
  font-size: 30px;
}
